.control {
  padding-bottom: 20px;
}

#game-of-life-canvas {
  background: white;
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
  padding: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
