<div class="container-fluid">
  <div class="row">
    <canvas class="col" id="game-of-life-canvas" #gameOfLifeCanvas></canvas>
    <div class="col jumbotron" id="control-panel">
      <div class="row">
        <h3>Generation Count: {{ persistentCounter | async }}</h3>
      </div>
      <div class="row control">
        <input
          type="button"
          class="col btn btn-primary"
          id="start-button"
          value="Start"
          [disabled]="turnTimer.getIsRunning()"
          (click)="start()"
        />
        <input
          type="button"
          class="col btn btn-primary"
          id="pause-button"
          value="Pause"
          [disabled]="!turnTimer.getIsRunning()"
          (click)="togglePause()"
        />
        <input type="button" class="col btn btn-primary" id="restart-button" value="Restart" (click)="resetGame()" />
      </div>
      <div class="row control">
        <label for="alive-percent-slider">Start Alive Cell %</label>
        <input type="range" class="custom-range config-input" min="0" max="100" id="alive-percent-slider" />
      </div>
      <div class="row control">
        <label for="grid-size-slider">Grid Size (Min: 1, Max: 200)</label>
        <input type="range" class="custom-range config-input" min="1" max="200" id="grid-size-slider" />
      </div>
      <div class="row control">
        <label for="speed-slider">Generation duration (Min: 50ms, Max 1s)</label>
        <input
          type="range"
          class="custom-range config-input"
          min="50"
          max="1000"
          id="speed-slider"
          [(ngModel)]="speedInMilliseconds"
          (ngModelChange)="changeSpeed()"
        />
      </div>
    </div>
  </div>
</div>
